In [24]:
with open("example.txt","w") as file:
    file.write("Hello Python")

In [25]:
!ls

example.txt

In [26]:
with open("example.txt","r") as file:
    print(file.read())

Hello Python

In [27]:
with open("example.txt","a") as file:
    file.write("\nHello Jupyter")
    file.write("\nHello Data Science")

In [28]:
with open("example.txt","r") as file:
    print(file.read())

Hello Python
Hello Jupyter
Hello Data Science

In [30]:
with open("example.txt","r") as file:
    print(file.readline())
    print(file.readline())

Hello Python

Hello Jupyter

In [32]:
with open("example.txt","r") as file:
    print(file.read(5))
    print(file.read(5))

Hello
 Pyth

In [33]:
seq = ["This is line 1\n", "This is line 2"]
with open("example1.txt","a") as file:
    for line in seq:
        file.write(line)

In [35]:
with open("example1.txt","r") as file:
    print(file.read())

This is line 1
This is line 2

In [36]:
seq = ["This is line 1\n", "This is line 2"]
with open("example2.txt","a") as file:
    file.writelines(seq)

In [37]:
with open("example2.txt","r") as file:
    print(file.read())

This is line 1
This is line 2

In [38]:
with open("example2.txt","r") as file:
    print(file.readlines())

['This is line 1\n', 'This is line 2']

In [45]:
seq = ["James,", "Bond", "\n", "Jackie,", "Chan"]
with open("example3.csv","a") as file:
    file.writelines(seq)

In [46]:
with open("example3.csv","r") as file:
    print(file.read())

James,Bond
Jackie,Chan

In [41]:
import pandas as pd

In [55]:
df = pd.read_csv("example3.csv", header = None, names=['A','B'])
df

        A     B
0   James  Bond
1  Jackie  Chan